.comingSoonPage {
	margin: 0 auto;
	max-width: var(--layoutMaxWidth);
	padding: 5rem var(--layoutPadding) var(--sectionGap);
	width: 100%;
}

@media (max-width: 600px) {
	.comingSoonPage {
		padding: 3rem var(--layoutPadding) var(--sectionGap);
	}
}
